page {
  background-color: #EDEDED;
}

.mine {
  height: 100%;
}

.user-info-box {
  padding: 30px 30px;
  box-sizing: border-box;
  height: 350px;
  background-color: #0171D5;

  .user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;

    .user-avater {
      flex: 0 1 auto;
      width: 100px;
      height: 100px;
      image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .user-detail {
      flex: 1 0 auto;
      padding: 10px 20px;
      .user-name {
        color: #FFFFFF;
      }
      .user-account {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .account-item {
          margin-right: 10px;
          padding: 5px 10px;
          font-size: 24px;
          color: #FFFFFF;
          background-color: rgba(255, 255, 255, .3);
          border-radius: 20px;
        }
      }
    }
  }
}

.info-box {
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  .info-box-header {
    position: relative;
    padding: 20px 0;
    font-size: 32px;
    color: #6D6D6D;

    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #C5C5C5;
      transform: scaleY(.5);
    }
  }
  .info-box-content {

  }
}

.mine-order, .service-order, .cell-list {
  transform: translateY(-100px);
}

.mine-order {
  margin-bottom: 20px;

}

.service-order {
  margin-bottom: 20px;
}

.cell-list {
  padding: 10px 20px;
}

.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .grid-item {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 32px;
    color: #6D6D6D;

    &:active {
      background-color: #ebedf0;
    }

    image {
      margin-bottom: 10px;
      height: 50px;
      width: 50px;
    }
  }
}


